

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/*shared style */

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color:#474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color : white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}

/*  header Styles*/


.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat:no-repeat;
    background-position: top left, bottom right;

}
/*  Nav Styles*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 100px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 40px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    margin-right: 65px;
}

/*  Banner Styles*/

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-desc{
    font-size: 18px;
    font-weight: 400;
}
.banner-image{
    width: 580px;
   
}
.banner-content{
    max-width: 580px;
    
}

/* About styles */


ul{
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li{
    background-color: #FFFFFF;
}

.about-title{
    text-align: center;
}
.about{
    background-color: #FFF8F3;
    margin: 80px 150px 100px 150px;
    padding: 180px 280px 30px 280px;
    max-width: 1140px;
    height:550px;
}

/* What-I-do */

.What-I-do{
    text-align: center;
    margin: 80px 150px 100px 150px;
}



/*  resume  */
.resume{
    display: flex;
    margin: 80px 150px 100px 150px;
    display: space-between;
    gap:24px;
}

.resume-title{
    text-align: center;
}

/* footer style */

footer{
    display: flex;
    justify-content: space-between;
    background-color: #FFF8F3;
     margin: 30px 0 0 0;
}

.footer-col{
   padding: 100px;
}

footer input[type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
}

footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
}

textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
}
